<h1>Organizations</h1>

<h2>Registered Organizations</h2>
<ul *ngFor="let organization of organizations">
  <li>
    {{ organization.address }}. {{ organization.name }} -
    {{ organization.owner }}
  </li>
</ul>
