<!-- <div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">OrgMent Suite</a>
    </div> -->

<!-- <ul class="navbar">
  <li>
    <a href="#"> <b>Home</b> </a>
  </li>
  <li>
    <a href="#"> <b>Organizations</b> </a>
  </li>
  <li>
    <a href="#"> <b>Departments</b> </a>
  </li>
  <li>
    <a href="#"> <b>Employees</b> </a>
  </li>
  <li>
    <a href="#"> <b>Calendar</b> </a>
  </li>
</ul> -->

<!-- </div>
</div> -->

<nav class="navbar">
  <a routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="/organizations" routerLinkActive="active">Organizations</a>
  <a routerLink="/departments" routerLinkActive="active">Departments</a>
  <a routerLink="/employees" routerLinkActive="active">Employees</a>
  <a routerLink="/calendar" routerLinkActive="active">Calendar</a>
</nav>
