.navbar {
  align-items: left;
  width: 600px;
  overflow: auto;
}

li {
  display: inline-block;
  list-style-type: none;
  padding: 1%;
}

a {
  text-decoration: none;
  color: whitesmoke;
  display: inline-block;
  padding: 1%;
}

a:hover {
  color: brown;
}
